<div class="snipy">
  <div class="row">
    <div class="col-lg-12 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
      <div class="col-lg-1 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
      <div class="list-group">
        <a href="#" class="list-group-item active text-center">
          <h4 class="glyphicon glyphicon-home"></h4><br/>Home
        </a>
        <a href="#" class="list-group-item text-center">
          <h4 class="glyphicon glyphicon-road"></h4><br/>Snips
        </a>
        <a href="#" class="list-group-item text-center">
          <h4 class="glyphicon glyphicon-fire"></h4><br/>Trends
        </a>
        <a href="#" class="list-group-item text-center">
          <h4 class="glyphicon glyphicon-stats"></h4><br/>Dashboard
        </a>
        <a href="#" class="list-group-item text-center">
          <h4 class="glyphicon glyphicon-asterisk"></h4><br/>Badges
        </a>
      </div>
    </div>
    <div class="col-lg-11 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">

      <%=render 'layouts/home'%>
      <%=render 'layouts/snips'%>
      <%=render 'layouts/trends'%>
      <%=render 'layouts/dashboards'%>
      <%=render 'layouts/badges'%>
      
      
    </div>
  </div>
  </div>
</div>