<div class="col-md-13">
<img src="public/1.jpg" alt="Image_Space" class="img-circle">
<span>Vinoth snipped "Creation of ..."</span><span>@<%=Time.now%>
</div>
<hr/>
<div class="col-md-13">
<img src="public/1.jpg" alt="Image_Space" class="img-circle">
<span>Vinoth snipped "Creation of ..."</span><span>@<%=Time.now%>
</div>
<hr/>
<div class="col-md-13">
<img src="public/1.jpg" alt="Image_Space" class="img-circle">
<span>Vinoth snipped "Creation of ..."</span><span>@<%=Time.now%>
</div>
<hr/>
<div class="col-md-13">
<img src="public/1.jpg" alt="Image_Space" class="img-circle">
<span>Vinoth snipped "Creation of ..."</span><span>@<%=Time.now%>
</div>
<hr/>
<div class="col-md-13">
<img src="public/1.jpg" alt="Image_Space" class="img-circle">
<span>Vinoth snipped "Creation of ..."</span><span>@<%=Time.now%>
</div>
<hr/>
<div class="col-md-13">
<img src="public/1.jpg" alt="Image_Space" class="img-circle">
<span>Vinoth snipped "Creation of ..."</span><span>@<%=Time.now%>
</div>
<hr/>
<div class="col-md-13">
<img src="public/1.jpg" alt="Image_Space" class="img-circle">
<span>Vinoth snipped "Creation of ..."</span><span>@<%=Time.now%>
</div>
<hr/>